---
layout: default
---

<section class="home">

    <section class="banner" role="banner">
        <div class="banner-content-wrapper">
            <h1 class="banner-slogan">{{ site.slogan }}</h1>
            <br />
            <a href="{{ "/blog" | prepend: site.baseurl }}" class="button">Read the blog</a>
        </div>
    </section>

    <section class="blogposts-section">
        <div class="section-heading-wrapper">
            <h1 class="section-heading">Blog Posts</h1>
        </div>
        <div class="cards-group">
            {% for post in site.posts %}
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <div class="card">
                        <h2>{{ post.title }}</h2>
                        <h5>{{ post.date | date: "%b %-d, %Y" }}</h5>
                        <p>
                            {{ post.small_content }}
                        </p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </section>

    <!--<section class="skills-section">
        <div class="section-heading-wrapper">
            <h1 class="section-heading">Skills</h1>
        </div>
    </section>-->

</section>

{% include scripts.html %}
