<script type="text/javascript" src="{{ "/bower_components/jquery/dist/jquery.js" | prepend: site.baseurl }}""></script>
<script type="text/javascript" src="{{ "/js/parallax.js" | prepend: site.baseurl }}""></script>
<script type="text/javascript" src="{{ "/js/scroll.js" | prepend: site.baseurl }}""></script>
<script type="text/javascript" src="{{ "/js/click.js" | prepend: site.baseurl }}""></script>
<script type="text/javascript" src="{{ "/js/onload.js" | prepend: site.baseurl }}""></script>

<script src="//localhost:35729/livereload.js"></script>
