.home > section {
    min-height: 500px;  
}

.banner {
    background-color: $dark-brand-color;
    background-image: url('../images/banner.svg');

    //for Paralax Animation
    background-position: 0 0;

    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}
.banner-content-wrapper {
    position: relative; 
    top: 120px;
}

.home > section:nth-child(even) {
    background-color: $background-color;
    color: $dark-brand-color;
}
.home > section:nth-child(odd):not(:first-child) {
    background-color: $brand-color;
    color: $background-color;

    .section-heading {
        color: $background-color;
    }
}

.cards-group {
    position: relative;
    @extend %clearfix;
}
.card {
    background-color: $background-color;
    border: 2px solid $darker-brand-color;
    box-sizing: border-box;
    color: $darker-brand-color;
    float: left;
    height: 300px;
    margin: 2%;
    overflow: hidden;
    padding: 2em;
    position: relative;
    width: 21%;

    h2 {
        margin: 0;
    }
    p {
        margin-top: 10px;
    }

    @media screen and (max-width: 1230px) {
        width: 45%;
    }
    @media screen and (max-width: 580px) {
        width: 96%;
    }

    $triangular-border-width: 50px;
    &::before {
        border-left: 0px solid transparent; 
        border-right: $triangular-border-width solid transparent;
        border-top: $triangular-border-width solid $darker-brand-color;
        content: '';

        height: 0;

        left: 0;
        position: absolute;
        top: 0;
        transition: border-width 0.3s;

        width: 0;
        z-index: 1;
    }
    &::after {
        border-left: $triangular-border-width solid transparent;
        border-right: 0px solid transparent; 
        border-bottom: $triangular-border-width solid $darker-brand-color;
        content: '';

        height: 0;

        bottom: 0;
        position: absolute;
        right: 0;
        transition: border-width 0.3s;

        width: 0;
        z-index: 1;
    }

    &:hover::before {
        border-right-width: $triangular-border-width + 20px; 
        border-top-width: $triangular-border-width + 20px; 
    }
    &:hover::after {
        border-bottom-width: $triangular-border-width + 20px; 
        border-left-width: $triangular-border-width + 20px; 
    }

    &:active::before {
        border-right-width: $triangular-border-width - 10px; 
        border-top-width: $triangular-border-width - 10px; 
    }
    &:active::after {
        border-bottom-width: $triangular-border-width - 10px; 
        border-left-width: $triangular-border-width - 10px; 
    }
}
.page-content {
    @media screen and (min-width: 700px) {
        .card {
            border: 2px solid $darker-brand-color;
            width: 29%;
        }
    }
}

.banner-slogan {
    font-size: 72px; 
    color: $background-color;

    @media screen and (max-width: 700px) {
        font-size: 32px;
    }
}

button, .button {

    background: transparent; 
    border: 2px solid $background-color;
    box-sizing: border-box;
    color: $background-color;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 2px;
    outline: medium none;
    overflow: hidden;
    padding: 1.5em;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    z-index: 1;

    &,
    &:visited {
        color: $background-color;
        text-decoration: none;
    }

    &:hover {
        color: $darker-brand-color;
        text-decoration: none;
    }

    &::after {
        background: none repeat scroll 0 0 #fff;
        box-sizing: border-box;
        content: '';
        height: 103%;
        left: 50%;
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition: all 0.3s ease 0s;
        width: 0;
        z-index: -1;
    }
    &:hover::after {
        opacity: 1;
        width: 90%;
    }
    &:active::after {
        width: 101%;
    }

    &::before {
        box-sizing: border-box;
        position: relative;
        text-transform: none;
    }

}

.section-heading-wrapper {
    cursor: pointer;
    text-align: center; 
}
.section-heading {
    font-size: 48px; 
    color: $dark-brand-color;

    &::before {
        content: "<<<";
        position: relative;
        right: 20px;
        transition: right 0.3s;
    }
    &::after {
        content: ">>>";
        position: relative;
        left: 20px;
        transition: left 0.3s;
    }
    &:hover::after {
        left: 70px;
    }
    &:hover::before {
        right: 70px;
    }

    &:active::after {
        left: 0px;
    }
    &:active::before {
        right: 0px;
    }

    @media screen and (max-width: 580px) {
        font-size: 24px;
    }
}
.section-heading-wrapper.left-aligned {
    text-align: left;

    .section-heading::before {
        content: '';
    }
}

.projects {
    text-align: center;

    > div {
        margin: 2% 5%;
    } 
}

.anti-hexagon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

    display: inline-block;
    overflow: hidden;
    position: relative;

    transition: background-size 0.3s;

    $width: 400px;
    $no-of-triangles: 4;
    $width-of-triangle: $width/$no-of-triangles;
    width: $width;

    z-index: 1;

    @media screen and (max-width: 450px) {
        display: none;
    }

    @extend %clearfix;

    &:hover {
        background-size: 140%; 
    }

    .triangle, .upside-triangle {
        float: left;
        opacity: 1;
        transition: opacity 0.5s;
        width: $width-of-triangle;
    } 

    .hide-triangles {
        opacity: 0;
    }

    .base-triangle-box {
        @extend %clearfix;
    }

    .stacked-triangle-box {
        bottom: 0;
        left: -($width-of-triangle/2);
        position: absolute; 
        right: -($width-of-triangle/2);
        top: 0;
    }
}

.small-anti-hexagon {
    background-image: url('/images/mookit_1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

    display: inline-block;
    overflow: hidden;
    position: relative;

    transition: background-size 0.3s;

    $width: 200px;
    $no-of-triangles: 4;
    $width-of-triangle: $width/$no-of-triangles;
    width: $width;

    z-index: 1;

    @extend %clearfix;

    @media screen and (min-width: 450px) {
        display: none;
    }

    &:hover {
        background-size: 140%; 
    }

    .triangle, .upside-triangle {
        float: left;
        opacity: 1;
        transition: opacity 0.5s;
        width: $width-of-triangle;
    } 

    .hide-triangles {
        opacity: 0;
    }

    .base-triangle-box {
        @extend %clearfix;
    }

    .stacked-triangle-box {
        bottom: 0;
        left: -($width-of-triangle/2);
        position: absolute; 
        right: -($width-of-triangle/2);
        top: 0;
    }
}

.upside-triangle {
    transform: rotate(180deg); 
}

.current-section-wrapper {
    bottom: -48px;
    left: calc(50% - 200px);
    position: absolute;
    width: 400px;
    text-align: center;

    @media screen and (max-width: 1260px) {
        display: none;
    }
}
.current-section {
    color: $background-color;
    font-size: 48px;
}

.page-header {
    background-color: $dark-brand-color;
    background-image: url('../images/banner.svg');
    box-sizing: border-box;

    padding: 4em 15px;

    .page-title {
        color: $background-color;
        font-size: 4em;
        line-height: 1;
    }
}

/**
 * Portfolio Page
 */
.project {
    border: 1px solid $brand-color;
    position: relative;
    z-index: 0;
    @extend %clearfix;
}
.project-background {
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;

    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    z-index: 1;

    filter: blur(5px) opacity(0.4);
}
.project-screenshot {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

    border: 5px solid $darker-brand-color;
    box-sizing: border-box;

    float: left;
    height: 300px;
    position: relative;
    transition: background-size 0.5s;
    width: 30%;

    z-index: 2;

    @media screen and (max-width: $on-palm) {
        width: 100%;
    }

    &:hover {
        background-size: 150%;
    }

    $triangular-border-width: 50px;
    &::before {
        border-left: 0px solid transparent; 
        border-right: $triangular-border-width solid transparent;
        border-top: $triangular-border-width solid $darker-brand-color;
        content: '';

        height: 0;

        left: 0;
        position: absolute;
        top: 0;
        transition: border-width 0.3s;

        width: 0;
        z-index: 1;
    }
    &::after {
        border-left: $triangular-border-width solid transparent;
        border-right: 0px solid transparent; 
        border-bottom: $triangular-border-width solid $darker-brand-color;
        content: '';

        height: 0;

        bottom: 0;
        position: absolute;
        right: 0;
        transition: border-width 0.3s;

        width: 0;
        z-index: 1;
    }
}
.project-summary {
    box-sizing: border-box;
    display: inline-block;
    padding: 1em;
    position: relative;
    width: 70%;

    z-index: 2;

    @media screen and (max-width: $on-palm) {
        width: 100%;
    }
}
.project-heading {
    color: $darker-brand-color;

    &::after {
        content: '>>>';
        margin-left: 10px;
    }
}

.icon--email {
    svg {
        height: 2em;
        width: 2em;
        vertical-align: middle;
    }
}

.mookit-image {
    background-image: url('/images/mookit_1.jpg');
}
.blog-image {
    background-image: url('/images/blog_1.jpg');
}

